@import '../../assets/styles/variables.scss';

.logout-icon{
    margin-left: 10px !important;
    transform: rotateY(-180deg);
}

.navbar{
    background-color: $red-primary;
    border-bottom: 1px solid black;
    height: 3.7rem;

    >.container{
        margin: 0;
        width: fit-content;
        flex-direction: row;
        justify-content: flex-start;
        height: inherit;
    }

    :first-child{
        margin-right: -25px;
    }

    :last-child{
        margin-left: auto;
        margin-right: 1rem;
    }
}

.navbar-brand{
    margin-right: 0 !important;
    height: inherit;

    > img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.nav-link{
    margin: 0.15rem 0.3rem;
    padding: 0.15rem 0.3rem;

    &:hover{
        color: whitesmoke;
    }

    > .pbs-icon{
        margin-right: 10px;
    }
}

.container >.nav-link{
    display: inherit;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.pbs-flex-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pbs-logout{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.side-margin{
    margin-left: 3vh;
}
