.dashboard-main {
  margin: 2rem 15%;
  padding: 1rem;

  h2 {
    text-align: initial;
    margin-top: 3rem;
    margin-bottom: 1.3rem;
  }

  p {
    text-align: justify;
  }

  .banner-img {
    width: 100%;
    border-radius: 0.8rem;
    margin: 1rem auto 2rem auto;
  }
}
