@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/variables.scss";
@import "./assets/styles/templates.scss";

*{
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scrollbar-color: #777 #555;
  
  &::-webkit-scrollbar {
    width: 0.9vw;
    background-color: $gray-dark;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777;
      border: .25em solid $gray-dark;
      border-radius: 100vw;

      &:hover {
        background-color: #888;
      }
    }
    
    &::-webkit-scrollbar-track {
      background-color: $gray-dark;
      border-radius: 100vw;
      margin-block: 0.5em;
      margin-inline: 2em;

      &:hover {
        background-color: $gray-dark;
      }
    }
}
  
  body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  