.pbs-flex{
    display: flex;
    &.pbs-row{
        flex-direction: row;
    }
    &.pbs-col{
        flex-direction: column;
    }
}

.pbs-title-h1,
.pbs-title-h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.pbs-title-h2 {
    margin: 0.3rem auto 2rem auto;
}

.pbs-form label {
    text-transform: uppercase;
    font-weight: 700;
}

.pbs-btn-modal{
    margin: auto 0.5rem;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    border: 0.5px solid $black-025;
    background-color: $red-primary;

    &:hover{
        transition: 0.4s;
        cursor: pointer;
        background: $red-primary-transparent;
        border-color: $black-025;
    }
}

.btn-margin{
    margin: 3.1rem auto 0 auto !important;
}

input {
    &[type="text"], 
    &[type="text-area"], 
    &[type="tel"],
    &[type="number"],
    &[type="date"],
    &[type="password"] {
        padding: 10px 10px 10px 15px;
        font-size: 1rem;
        box-sizing: border-box;
        width: 425px;
        height: 60px;
        background: $white;
        border: 0.3px solid $gray-01;
        box-shadow: 2px 4px 15px 2px $black-025;
        border-radius: 12px;
        
        &::placeholder{
            font-style: italic;
            font-weight: 500;
            color: $black-05;
        }
        
        &:focus{
            outline: 0.3px solid $gray-01;
            border-color: $red-secondary-transparent;
            box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
        }
    }
    // Remove botões laterais dos inputs do tipo number
    &[type="number"]{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

textarea{
    display: block;
    width: 500px;
    height: 170px;
    background: $white;
    border: 0.3px solid $gray-01;
    box-sizing: border-box;
    box-shadow: 2px 4px 15px 2px $black-025;
    border-radius: 12px;
    padding: 10px 10px 10px 15px;
    resize: none;

    scroll-behavior: smooth;
    scrollbar-color: #777 #555;
    
    &::-webkit-scrollbar {
        width: 1vw;
        background-color: $gray-dark;
        border-radius: 100vw;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #777;
      border: .25em solid $gray-dark;
      border-radius: 100vw;

      &:hover {
        background-color: #888;
      }
    }
    
    &::-webkit-scrollbar-track {
      background-color: $gray-dark;
      border-radius: 100vw;
      margin-block: 0.5em;
      margin-inline: 2em;

      &:hover {
        background-color: $gray-dark;
      }
    }

    &::placeholder{
        font-style: italic;
        font-weight: 500;
        color: $black-05;
    }
    
    &:focus{
        outline: 0.3px solid $gray-01;
        border-color: $red-secondary-transparent;
        box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
    }
}

.pbs-custom-select:focus{
    border-color: $red-secondary-transparent;
    box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
}

.pbs-login-input{
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0.7rem auto;
    padding-left: 15%;
    width: 425px;
    height: 60px;
    background: $white;
    border: 0.3px solid $black-05;
    box-shadow: 2px 4px 15px 2px $black-025;
    border-radius: 12px;

    &::placeholder{
        color: $black-05;
    }

    &:focus{
        color: #212529;
        background-color: #fff;
        outline: 0;
        border-color: $red-secondary-transparent;
        box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
    }
}

.container-form{
    border: 1px solid $black-025;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.formErrorMsg {
    margin: 0.8rem 0.3rem;
    color: red;
    font-weight: 500;
}