.pbs-flex{
    display: flex;
    &.pbs-row{
        flex-direction: row;
    }
    &.pbs-col{
        flex-direction: column;
    }
}

.pbs-title-h1,
.pbs-title-h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.pbs-title-h2 {
    margin: 0.3rem auto 2rem auto;
}

.pbs-form label {
    text-transform: uppercase;
    font-weight: 700;
}

.pbs-btn-modal{
    margin: auto 0.5rem;
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    border: 0.5px solid $black-025;
    background-color: $red-primary;

    &:hover{
        transition: 0.4s;
        cursor: pointer;
        background: $red-primary-transparent;
        border-color: $black-025;
    }
}

.btn-margin{
    margin: 3.1rem auto 0 auto !important;
}

// Classe usada para retirar botões laterais dos inputs do tipo number
.pbs-txt-appeareance{
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}

input {
    &[type="text"], 
    &[type="text-area"], 
    &[type="tel"],
    &[type="number"],
    &[type="date"] {
        font-size: 1rem;
        box-sizing: border-box;
        width: 425px;
        height: 60px;
        background: $white;
        border: 0.3px solid $gray-01;
        box-shadow: 2px 4px 15px 2px $black-025;
        border-radius: 12px;
        
        &::placeholder{
            font-style: italic;
            font-weight: 500;
            color: $black-05;
            padding: 10px 10px 10px 15px;
        }
        
        &:focus{
            border-color: $red-secondary-transparent;
            box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
        }
    }
}

.pbs-custom-select:focus{
    border-color: $red-secondary-transparent;
    box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
}

.pbs-login-input{
    font-weight: 500;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0.7rem auto;
    padding-left: 15%;
    width: 425px;
    height: 60px;
    background: $white;
    border: 0.3px solid $black-05;
    box-shadow: 2px 4px 15px 2px $black-025;
    border-radius: 12px;

    &::placeholder{
        color: $black-05;
    }

    &:focus{
        color: #212529;
        background-color: #fff;
        outline: 0;
        border-color: $red-secondary-transparent;
        box-shadow: 0 0 0 0.25rem $red-secondary-transparent;
    }
}

.container-form{
    border: 1px solid $black-025;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.formErrorMsg {
    color: red;
}