.pbs-flex{
    display: flex;
    &.pbs-row{
        flex-direction: row;
    }
    &.pbs-col{
        flex-direction: column;
    }
}

.pbs-title-h1,
.pbs-title-h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}