$red-primary: #E3483E;
$black-03: #0000004d;
$black-025: #00000040;
$black-05: #00000080;
$gray-01: #ced4da;
$red-primary-transparent: #ec847d;
$red-secondary-transparent: #ec847db3;
$white: #FFFFFF;
$gray-dark: #A9A9A9;