@import "../../../assets/styles/variables.scss";

.pbs-form{
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

#cds-ali-container{
    padding-top: 2rem;
}

.container-form{
    border: 1px solid $black-025;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.form-box{
    min-width: 50%;

    select, input[name="amount"]{
        max-width: 45%;
    }
}

.pbs-form label {
    text-transform: uppercase;
    font-weight: 700;
}

.btn-margin{
    margin: 3.1rem auto 0 auto !important;
}