.d-flex{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.t-estoque{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}