@import "../../../assets/styles/variables.scss";

.pbs-form{
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

#cds-ali-container{
    padding-top: 2rem;
}

.form-box{
    min-width: 50%;

    select, input[name="amount"]{
        max-width: 45%;
    }
}